language: python
python: 3.6
services:
  - postgresql
install:
  - pip install Django>=1.11.0 --quiet
  - pip install psycopg2 --quiet
  - pip install git+https://github.com/cameroncurry/questrade.git
before_script:
  - psql -c "create database travis_ci_test;" -U postgres
script:
  - python setup.py test
